:root {
  --md-primary-fg-color:        #FFAB01;
  --md-primary-fg-color--light: #FFAB01;
  --md-primary-fg-color--dark:  #F8D400;
}
.md-nav__title {
   padding:0 !important;
}

img {
    transition: transform ease-in-out 0.3s;
}

img:active[src*="#zoom"] {
    cursor: zoom-out;
    transform: scale(2.0);
}

img[src*="#zoom"] {
    cursor: zoom-in;
}

img[src*="#right"] {
    float:right;
    height:auto;
    max-width:170px;
}
/* for image caption */
img + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}
@media print {
  article {
    font-size: 9pt !important;
  }
  article>p {
    margin-left:7em !important;
  }
  article>ul,article>dl,article>ol {
    margin-left:8em !important;
    padding-left: 20px !important;
  }
  article>pre, article>blockquote,article>table {
    margin-left:9em !important;
  }
}
